// ==================================================
// LIVE CONFIG (After knife round)
// File: csgo/cfg/live.cfg
// ==================================================

mp_do_warmup_period 0
mp_freezetime 15
mp_roundtime 1.92
mp_roundtime_defuse 1.92
mp_maxrounds 24
mp_startmoney 800
mp_buytime 20

// Restore weapon settings
mp_weapons_allow_map_placed 1
mp_give_player_c4 1
mp_ct_default_secondary "weapon_hkp2000"
mp_ct_default_primary ""
mp_t_default_secondary "weapon_glock"
mp_t_default_primary ""

mp_restartgame 1

say "*** LIVE LIVE LIVE ***"
say "*** LIVE LIVE LIVE ***"
say "*** LIVE LIVE LIVE ***"